.UserDetailModal-styles {
  opacity: 1;
}

.UserDetailModal-card-styles {
  margin-bottom: 0px;
}

.UserDetailModal-cardBody-styles {
  text-align: center;
}

.UserDetailModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.UserDetailModal-img-styles {
  width: 90px;
  height: 90px;
}

.UserDetailModal-input-styles {
  margin: 20px;
}

.UserDetailModal-submitButton-styles,
.UserDetailModal-submitButton-styles:hover {
  color: white;
}

.UserDetailModal-optionButton-styles {
  text-align: center;
  margin: 0px 10px;
}

.upload-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 0 auto;
}
