.AddIngredientTypeModal-styles {
  opacity: 1;
}

.AddIngredientTypeModal-card-styles {
  margin-bottom: 0px;
}

.AddIngredientTypeModal-cardBody-styles {
  text-align: center;
}

.AddIngredientTypeModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.AddIngredientTypeModal-img-styles {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.AddIngredientTypeModal-input-styles {
  margin: 20px;
}

.AddIngredientTypeModal-submitButton-styles,
.AddIngredientTypeModal-submitButton-styles:hover {
  color: white;
}
