@import "./variables";

.App-wrapper-styles {
  margin: 0px;
}

.App-content-styles {
  margin-left: 0px;
  max-width: 100%;
}

.light-text {
  font-weight: 300;
}

.form-control,
.modal-content,
.ant-input,
.swal-modal,
.ant-btn,
.ant-select,
.ant-select-auto-complete,
.ant-select-single,
.ant-select-show-search,
.ant-select-selector,
.ant-tag,
.ant-modal-content,
.ant-input-number,
.ant-input-number-input-wrap,
.ant-input-number-handler-wrap,
.ant-popover-inner,
.ant-select-dropdown,
.ant-message-notice-content,
.ant-table-container,
.ant-picker {
  border-radius: $border-radius !important;
}

.ant-table-header {
  border-radius: $border-radius $border-radius 0px 0px !important;
}
.ant-table-row {
  cursor: pointer !important;
}

.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
  // background: $hover-color !important;
}

.input-login-component {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-group-prepend {
  height: 35px;
}

.header {
  border: none !important;
}

.fab {
  transition-duration: 200ms !important;
  &:hover {
    opacity: 0.8 !important;
  }
}

.swal-button--confirm {
  background-color: $orange;
  border-radius: $border-radius;
  opacity: 1;

  &:hover {
    background-color: $orange;
    opacity: 0.8;
  }
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
}

.ant-timeline-item-head,
.ant-timeline-item-head-blue,
.ant-timeline-item-tail {
  margin-top: 8px !important;
}

.ant-menu,
.scrollbar-container,
.list-item,
.ant-list,
.ant-list-split {
  width: 100% !important;
}

.c-side-bar,
.c-sidebar-light,
.c-header,
.c-header-light {
  z-index: 1 !important;
}

.ant-carousel .slick-dots li button {
  background: $light-gray !important;
  opacity: 0.4 !important;
  margin-top: 48px !important;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1 !important;
  background: $dark-gray !important;
  margin-top: 48px !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  display: block !important;
  color: red !important;
}
