// Variable overrides
$enable-shadows: true;

//Misc
$border-radius: 20px;

//Colors
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #ff9b40 !default;
$light-orange: #FFF9EE !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
$white: #fff !default;
$light-gray: #ececec !default;
$dark-gray: #9e9e9e !default;

//Color pallete
$primary: $orange;
$body-bg: rgb(255, 255, 255);
$hover-color: rgb(240, 237, 233);
//Font size
// $font-size-base effects the font size of the body text
$font-size-base: 0.875rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

//Sidebar
$sidebar-light-nav-link-active-color: rgba($primary, 0.8) !default;
$sidebar-light-nav-link-active-bg: rgba($primary, 0.05) !default;
$sidebar-light-nav-link-active-icon-color: $primary !default;
$sidebar-light-nav-link-active-borders: 0 !default;
$sidebar-light-nav-tabs-link-active-bg: rgba($primary, 0.5) !default;
