@import "../../../../../assets/scss/variables";

.main-item-panel {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  .item-cover-image {
    width: 224px;
    height: 224px;
  }
}
