.ListUsers-card-styles {
  background: transparent;
  border-radius: 10px;
}

.ListUsers-cardHeader-styles {
  background: transparent;
  border-radius: 10px;
}

.ListUsers-addUserButton-styles {
  margin-left: 20px;
  background: #fcb87a;
  color: white;
}
