.AddOderModal-styles {
    opacity: 1;
  }
  
  .AddOderModal-card-styles {
    margin-bottom: 0px;
  }
  
  .AddOderModal-cardBody-styles {
    text-align: center;
  }
  
  .AddOderModal-h2-styles {
    color: black;
    text-align: center;
    margin: 10px;
  }
  
  .AddOderModal-img-styles {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
  }
  
  .AddOderModal-input-styles {
    margin: 20px;
  }
  
  .AddOderModal-submitButton-styles,
  .AddOderModal-submitButton-styles:hover {
    color: white;
  }
  