.AddItemTypeModal-styles {
  opacity: 1;
}

.AddItemTypeModal-card-styles {
  margin-bottom: 0px;
}

.AddItemTypeModal-cardBody-styles {
  text-align: center;
}

.AddItemTypeModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.AddItemTypeModal-img-styles {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.AddItemTypeModal-input-styles {
  margin: 20px;
}

.AddItemTypeModal-submitButton-styles,
.AddItemTypeModal-submitButton-styles:hover {
  color: white;
}
