@import '../../../../assets/scss/_variables.scss';

.ConfirmModal-styles {
    opacity: 1;
}

.ConfirmModal-card-styles {
    margin-bottom: 0px;
}

.ConfirmModal-cardBody-styles {
    text-align: center;
}

.ConfirmModal-h4-styles {
    color: rgb(241, 238, 50);
    text-align: center;
    margin: 10px 10px 20px 10px;
}

.ConfirmModal-img-styles {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.ConfirmModal-input-styles {
    margin: 20px;
}

.ConfirmModal-confirm-button-styles,
.ConfirmModal-confirm-button-styles:hover {
    color: white;
}

.ConfirmModal-cancel-button-styles {
    color: $primary;
    border: $primary 1px solid;

    &:hover {
        color: $primary;
    }
}

.Display-none {
    display: none;
}
  