@import '../../../../../assets/scss/variables';

.main-menu-panel {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    .menu-cover-image{
        width: 224px;
        height: 224px;
    }

}
.ant-carousel .slick-dots li button {
    background: rgb(255, 155, 64);
    opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background:rgb(255, 155, 64);
}
