@import '../../../../../assets/scss/variables';

.main-ingredient-panel {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    .ingredient-cover-image{
        width: 224px;
        height: 224px;
    }

}
