.ListItemIngredientType-card-styles {
    background: transparent;
    border-radius: 10px;
}

.ListItemIngredientType-cardHeader-styles {
    background: transparent;
    border-radius: 10px;
}

.ListItemIngredientType-addUserButton-styles {
    margin-left: 20px;
    background: #fcb87a;
    color: white;
}
  