@import "../../../assets/scss/variables";

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: $dark-gray;
  font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}

.carousel-empty-row{
  width: 100% !important;
  height: 210px  !important;
}