.AddBranchModal-styles {
  opacity: 1;
}

.AddBranchModal-card-styles {
  margin-bottom: 0px;
}

.AddBranchModal-cardBody-styles {
  text-align: center;
}

.AddBranchModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.AddBranchModal-img-styles {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.AddBranchModal-input-styles {
  margin: 20px;
}

.AddBranchModal-submitButton-styles,
.AddBranchModal-submitButton-styles:hover {
  color: white;
}
