@import "../../../../../assets/scss/variables";

.order-list-item {
  position: relative;
  
  .delete-icon {
    position: absolute !important;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: $dark-gray;
  }

  .edit-icon {
    position: absolute !important;
    top: 8px;
    right: 40px;
    cursor: pointer;
    color: $dark-gray;
  }
  
  &:hover {
    background-color: $hover-color;
  }
}
