.CheckDetailModal-styles {
  opacity: 1;
}

.CheckDetailModal-card-styles {
  margin-bottom: 0px;
}

.CheckDetailModal-cardBody-styles {
  text-align: center;
}

.CheckDetailModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.CheckDetailModal-img-styles {
  width: 90px;
  height: 90px;
}

.CheckDetailModal-input-styles {
  margin: 20px;
}

.CheckDetailModal-submitButton-styles,
.CheckDetailModal-submitButton-styles:hover {
  color: white;
}

.CheckDetailModal-optionButton-styles {
  text-align: center;
  margin: 0px 10px;
}

.CheckDetailModal-table {
  margin-top: 20px;
}

.CheckDetailModal-row-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.CheckDetailModal-row-sub-title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.CheckDetailModal-row-button {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.CheckDetailModal-button {
  margin-left: 20px;
  // border-color: #fcb87a;
  // color: #fcb87a;
  background:#fcb87a;
  color: white;
  
}

.CheckDetailModal-row-text {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 20px;
}

@import "../../../../../assets/scss/variables";

.BranchDetailModal-styles {
  opacity: 1;
}

.BranchDetailModal-card-styles {
  margin-bottom: 0px;
}

.BranchDetailModal-cardBody-styles {
  text-align: center;
}

.BranchDetailModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.BranchDetailModal-img-styles {
  width: 90px;
  height: 90px;
}

.BranchDetailModal-submitButton-styles,
.BranchDetailModal-submitButton-styles:hover {
  color: white;
}

.BranchDetailModal-optionButton-styles {
  text-align: center;
  margin: 0px 10px;
}

.BranchDetailModal-light-text {
  font-weight: 400;
  font-size: 20px;
  margin: 15px;
}

.BranchDetailModal-statistics-container {
  background-color: $light-gray;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0px 15px;
  text-align: center;
}

.BranchDetailModal-form {
  margin-top: 20;
  opacity: 1;
  position: static;
  visibility: visible;
}

.BranchDetailModal-form-hidden {
  margin-top: 20;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
