@import "../../../../../assets/scss/variables";
.campaign-from-list {
  padding: 24px;
  cursor: pointer;
  border: none !important;
  &:hover {
    background: $light-orange;
    transition-duration: 200ms;
  }

  &:focus {
    background: $light-orange;
    transition-duration: 200ms;
  }

  &:active {
    background: $light-orange;
    transition-duration: 200ms;
  }
}

.list-item {
  margin-top: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 48px;
}
